[Unit]
Description=Lighthouse Validator
After=beacon.service
Wants=beacon.service

[Service]
User=lighthousevalidator
Group=lighthousevalidator
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/lighthouse validator_client --datadir /var/lib/lighthouse/validator --builder-proposals --network [network] [graffiti]

[Install]
WantedBy=beacon.service