[Unit]
Description=Ethereum Metrics Exporter
After=network.target
Wants=network.target

[Service]
User=prometheus_exporter
Group=prometheus_exporter
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/ethereum-metrics-exporter --consensus-url=http://localhost:5052 --execution-url=http://localhost:8545

[Install]
WantedBy=default.target