[Unit]
Description=Ethereum Execution Client
After=network.target 
Wants=network.target

[Service]
User=geth
Group=geth
Type=simple
Restart=always
RestartSec=5
TimeoutStopSec=180
ExecStart=/usr/bin/geth --datadir /var/lib/geth --metrics --metrics.addr 127.0.0.1 --http --ws --authrpc.jwtsecret /var/lib/geth/jwt --authrpc.addr localhost --authrpc.port 8551

[Install]
WantedBy=default.target